body {
  margin:0;
  padding:0;
}

.wrapper {
  position: relative;
  height: 100vh;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

#back {
  position: absolute;
  left: 10px;
  bottom: 50px;
  z-index: 10000;
}

#confirm {
  position: absolute;
  right: 10px;
  bottom: 50px;
  z-index: 10000;
}

.panel {
  width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 10000;
}
